.header {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  font-family: medium-content-sans-serif-font;
  padding-bottom: 30px;
  padding-top: 30px;
}






.headerLeft {
  font-size: 16px;
  color: gray;
}







.headerMiddle{
  position: absolute;
  left: 45%;
  font-size: 40px;
  font-weight: 700;
}








.headerRight-loggedOutDisplay-container {
  font-size: 16px;
  color: #03a87c;
}

.signIn-button:hover {
  opacity: 0.8;
}

.signIn-button:active {
  transform: scale(1.1);
}

.signUp-button:hover {
  opacity: 0.8;
}

.signUp-button:active {
  transform: scale(1.1);
}

.takeATour-button {
  font-weight: 700;
  border:1px solid #03a87c;
  padding: 5px 10px;
  border-radius: 4px;
}

.takeATourButton:hover {
  opacity: 0.8;
}

.takeATourButton:active {
  transform: scale(1.1);
}

.headerRight-loggedInDisplay-container {
  display: flex;
  font-size: 12px;
  color: #03a87c;
  justify-content: space-between;
}

.logOut-button {
  font-size: 16px;
  padding: 5px 10px;
}

.logOut-button:hover {
  opacity: 0.8;
}

.logOut-button:active {
  transform: scale(1.1);
}

.profile-button {
  // color: #03a87c;
  // border:1px solid #03a87c;
  // border-radius: 4px;
  // font-size: 12px;
  // color: #03a87c;
  // padding: 5px 10px;

}

.profile-button-image {
  height: 60px;
  width: 60px;
  overflow: hidden;
  margin-right: 20px;
  border-radius: 100%;
}
