.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.7);
  z-index: 10;
}

.modal-child {
  width: 700px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
}

.modal-content {
  width: 750px;
  height: 500px;
  background-color: #D7EFEE;
  background-image: url("https://cdn-images-1.medium.com/proxy/1*lQWWgHf-jUvQVEyAKQLIkw@2x.png");
  background-position: 0px 100%;
  background-size: auto 290px;
  background-repeat: no-repeat;
  z-index: 10;
}

.modal-close {
     position: absolute;
     top: -10px;
     right: -50px;
     font-size: 20px;
     padding: 15px;
     color: gray;
     font-weight: 0;
}

.modal-close:hover {
  cursor: pointer;
  color: black;
}

.modal-close:active {
  transform: scale(1.1);
}

.modal-content-container {
  width: 300px;
  height: 100%;
  margin: 0 auto;
  align-items:center ;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.modal-form-title {
  font-weight: 300;
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
}

.modal-form-subtitle {
  text-align: center;
  margin-bottom: 20px;
}

.modal-form-container {
}

.modal-form-inputs {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.modal-input {
  text-align: center;
  height: 25px;
  padding: 0 5px;
  margin: 5px 0;
  border-radius: 4px;
  background-color: white;
}

.modal-input::placeholder {
  font-size: 14px;
}

.modal-add-avatar {
  margin-left: 75px;
  height: 25px;
  margin-top: 10px;
}

.image-preview {
  // float: right;
  position: absolute;
  right: -10px;
  max-height: 200px;
  max-width: 200px;
}

.modal-inputSubmit-button {
  font-weight: 400;
  font-size: 20px;
  padding: 5px;
  border-radius: 4px;
}

.modal-inputSubmit-button:hover {
  opacity: 0.8;
}
.modal-inputSubmit-button:active {
  transform: scale(1.1);
}

.modal-errors {
  list-style: none;
  position: absolute;
  bottom: 10px;
  right: 0;
}

.alternateForm-button {
  margin: 0 auto;
  padding: 5px 10px;
  font-size: 14px;
}

.alternateForm-button:hover {
  opacity: 0.8;
}

.alternateForm-button:active {
  transform: scale(0.9);
}


.modal-altForm-button {
}


.modal-demo-button {
  padding: 5px 10px;
  margin: 0 auto;
  border-radius: 4px;
}

.modal-demo-button:hover {
  opacity: 0.8;
}

.modal-demo-button:active {
  transform:scale(1.5);
}

.modal-terms {
  display: none;
  text-align: center;
  font-size: 10px;
  position: relative;
}
