.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.7);
  z-index: 10;
}

.modal-child {
  width: 700px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
}

.modal-content {
  width: 750px;
  height: 500px;
  background-color: #D7EFEE;
  background-image: url("https://cdn-images-1.medium.com/proxy/1*lQWWgHf-jUvQVEyAKQLIkw@2x.png");
  background-position: 0px 100%;
  background-size: auto 290px;
  background-repeat: no-repeat;
  z-index: 10;
}

.modal-close {
     position: absolute;
     top: -10px;
     right: -50px;
     font-size: 20px;
     padding: 15px;
     color: gray;
     font-weight: 0;
}

.modal-close:hover {
  cursor: pointer;
  color: black;
}

.modal-content-container {
  top: 30px;
  position: relative;
  width: 300px;
  margin: 0 auto;
  align-items: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-form-title {
  font-weight: 300;
  font-size: 28px;
  text-align: center;
}

.modal-form-subtitle {
  text-align: center;
}

.modal-form-container {
}

.modal-form-inputs {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}

.modal-input {
  text-align: center;
  width: 90%;
  height: 25px;
  background: white;
  padding: 0px 5px;
}

.modal-input::placeholder {
  font-size: 14px;
}

.alternateForm-button {
  margin: 0 auto;
  padding: 5px 10px;
}

.alternateForm-button:hover {
  color: gray;
}

.modal-inputSubmit-button {
  padding: 5px;
  border-radius: 4px;
}

.modal-inputSubmit-button:hover {
  color: gray;
}

.modal-altForm-button {
  margin: 0 auto;
}


.modal-demo-button {
  padding: 5px 10px;
  margin: 0 auto;
  border-radius: 4px;
}

.modal-demo-login:hover {
  color: gray;
}

.modal-terms {
  display: none;
  text-align: center;
  font-size: 10px;
  position: relative;
}
