.editor-main {
  width: 800px;
  margin: 0 auto;
  padding: 0 25px;
  font-family: medium-content-sans-serif-font;
}

.story-author-info{
  display: flex;
  justify-content: flex-start;
}

.story-editor-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 100%;
  vertical-align: middle;
  font-size: 8px;
}

.story-editor-name {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.story-editor-username:hover {
  color: blue;
}

.story-errors-container {
  display: flex;
}

.story-errors {
  padding-right: 10px;
  font-size: 12px;
  color: red;
  line-height: 40px;
}



.story-submit-button {
  background: beige;
  border :1px solid gray;
  cursor: pointer;
  padding: 5px 10px;
  margin: 10px;
}

.editor {
  margin: 15px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.editor-title {
  border: 1pt solid lightgrey;
  padding: 10px 10px;
  font-size: 25px;
  width: 600px;
  color: rgba(0, 0, 0, 0.90);
  margin: 0 auto;
}
.editor-image_url {
  border: 1pt solid lightgrey;
  font-size: 10px;
  padding: 10px 10px;
  width: 600px;
  color: rgba(0, 0, 0, 0.90);
  margin: 0 auto;
}
.editor-video_url {
  border: 1pt solid lightgrey;
  font-size: 10px;
  padding: 10px 10px;
  width: 600px;
  color: rgba(0, 0, 0, 0.90);
  margin: 0 auto;
}
.editor-body {
  border: 1pt solid lightgrey;
  padding: 10px 10px;
  font-size: 14px;
  width: 600px;
  color: rgba(0, 0, 0, 0.90);
  margin: 0 auto;
}
