.profile-container {
  width: 500px;
  padding: 0 25px;
  margin: 0 auto;
  margin-top: 10px;
  font-family: medium-content-sans-serif-font
}

.profile-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.profile-username {
  font-size: 28px;
  color:rgba(0, 0, 0, 0.60);
}

.profile-picture {
  width: 120px;
  height: 120px;
}

.profile-joinDate {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}



//
// .profile-story-container {
//
// }
//
// .profile-storyUpdate-container {
//
// }
//
// .profile-storyUpdate-button {
//
// }
//
// .profile-storyAuthor-container {
//
// }
//
// .profile-storyAuthor-avatar {
//   font-size: 6px;
// }
//
// .profile-storyAuthor-info {
//
// }
//
// .profile-storyAuthor-username {
//
// }
//
// .profile-story-date {
//
// }
