.profile-user {
  width: 700px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.profile-user-avatar-info-holder {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}

.profile-user-image {
  width: 75px;
  height: 75px;
  overflow: hidden;
  margin-right: 20px;
  border-radius: 100%;
}

.profile-user-info {
  margin-left: 10px;
}

.profile-user-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.profile-username-follow-button {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
}

.profile-username {
  font-size: 20px;
  font-weight: 700;
  color: rgba(0,0,0,0.8);
}

.profile-email {
  font-size: 14px;
  color: rgba(0,0,0,0.7);
}

.profile-biography {
  font-size: 14px;
  color: rgba(0,0,0,0.7);
}

.profile-joinDate {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

.profile-user-stories {
  // margin-top: 50px;
  width: 600px;
  margin:0 auto;
}


.profile-user-stories-header {
  margin-top: 50px;
  font-size: 20px;
  font-weight: 700;
  color: rgba(0,0,0,0.8);
}

.profile-user-ownStories {
  margin-top: 10px;
}


// .profile-container {
//   width: 500px;
//   padding: 0 25px;
//   margin: 0 auto;
//   margin-top: 10px;
//   font-family: medium-content-sans-serif-font
// }
//
// .profile-header {
//   display: flex;
//   justify-content: space-between;
//   margin-bottom: 40px;
// }
//
// .profile-username {
//   font-size: 28px;
//   color:rgba(0, 0, 0, 0.60);
// }
//
// .profile-picture {
//   width: 120px;
//   height: 120px;
// }
//



//
// .profile-story-container {
//
// }
//
// .profile-storyUpdate-container {
//
// }
//
// .profile-storyUpdate-button {
//
// }
//
// .profile-storyAuthor-container {
//
// }
//
// .profile-storyAuthor-avatar {
//   font-size: 6px;
// }
//
// .profile-storyAuthor-info {
//
// }
//
// .profile-storyAuthor-username {
//
// }
//
// .profile-story-date {
//
// }
